@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #d4af37;
  --bg-dark: #f8fafc;
}

body {
  margin: 0;
  background-color: #f8fafc;
  color: #0f172a;
  font-family: 'Outfit', sans-serif;
}
